@{
    ViewBag.Title = "ShowSpeakers";
}

@using Books_MVC.Models;
@model IEnumerable<Speaker>


<script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
<script src="~/Scripts/js/speaker-details.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/css/speakers.css" />

<h2>ShowSpeakers</h2>


@foreach (var s in Model)
{
    <div>
        <span> @Html.Label(s.FirstName)</span>
        <span>
            @Html.ActionLink("Detail", "SpeakerDetail", null, new { Name = "SpeakerDetail", spId = s.Id })
        </span>
    </div>
}

<br />
<br />

<div id="SpeakerInfo"></div>





