@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.ValidationSummary()

@using(Html.BeginForm("Create", "Books", FormMethod.Post))
{
    <div>
        <div>
            <span>Name</span>
            @Html.TextBox("name")
            <!--<input type="text" name="name" />-->
        </div>
        <div>
            <span>Author</span>
            @Html.TextBox("author")
            <!--<input type="text" name="author" />-->
        </div>
        <div>
            <span>Year</span>
            @Html.TextBox("year")
            <!--<input type="text" name="year" />-->
        </div>

        <input type="submit" value="Accept" />
    </div>

}
